name: Tests

on:
  push:
  pull_request:
    types: [opened, reopened]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby-version:
          - "3.1"
          - "3.2"
          - "3.3"
          - "3.4"
        rails-version:
          - "6.1"
          - "7.0"
          - "7.1"
          - "7.2"
          - "8.0"
          - "edge"
        include:
          - ruby-version: "3.3"
            rails-version: "8.0"
            code-coverage: true
        exclude:
          - ruby-version: "3.1"
            rails-version: "8.0"
          - ruby-version: "3.1"
            rails-version: "edge"
    env:
      BUNDLE_GEMFILE: ${{ github.workspace }}/gemfiles/rails_${{ matrix.rails-version }}.gemfile

    name: Specs - Ruby ${{ matrix.ruby-version }} on Rails ${{ matrix.rails-version }}
    steps:
      - uses: actions/checkout@v5
      - name: Set up Ruby ${{ matrix.ruby-version }} on Rails ${{ matrix.rails-version }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true
      - name: Run RSpec
        env:
          CC_TEST_REPORTER_ID: ${{ vars.CC_TEST_REPORTER_ID }}
          ENABLE_CODE_COVERAGE: true
        run: |
          bundle exec rspec --format RspecJunitFormatter --out ${{github.workspace}}/rspec-results.xml --format documentation

      - uses: paambaati/codeclimate-action@v9
        if: matrix.code-coverage
        env:
          CC_TEST_REPORTER_ID: ${{ vars.CC_TEST_REPORTER_ID }}
        with:
          coverageLocations: |
            ${{github.workspace}}/coverage/coverage.json:simplecov
